{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}
    

{% block content %}
<div  class= "dash-bg">
    {% include "nav.html" %}
        <div class="container">
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                      <div class="alert alert-primary alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                          </button>
                         {{ message }}
                      </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col col-md-3 box d-none d-md-inline-block"></div>
                <div class="col">
                    <div class="row">
                        <div class="col col-12 col-md-5">
                            <p style="font-size: 15px;color: rgb(165,0,160);">hi {{current_user.username }}, It's a great {{ period }}...</p>
                        </div>
                        <div class="col">
                            <p style="font-size: 20px;color: rgba(249,26,255,0.78);">Ready to get inspired?</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col"><a class="btn btn-primary btn-sm border rounded-circle shadow-btn round-btn white-bg mr-2" role="button" style="width: 30px;" href="{{ url_for('quote_bp.add_quote')}}"><i class="fa fa-plus" style="height: 11px;"></i></a><span class="purple-text">Quote</span></div>
                        <div class="col"><a class="btn btn-primary btn-sm border rounded-circle shadow-btn round-btn white-bg mr-2" role="button" style="width: 30px;" href="{{ url_for('quote_bp.add_category')}}"><i class="fa fa-plus" style="height: 11px;"></i></a><span class="purple-text">Category</span></div>
                    </div>
                <div class="row quote-block p-3 pl-1">
                    {% for favorite in favorites  %}
                        <div class="col p-0 col-12 col-md-5 col-lg-4">
                            <div class="quote-block-one" style="color: {{ favorite.category.color.name }}; border: 1px solid {{ favorite.category.color.name }} !important;box-shadow: 1px 1px 4px {{ favorite.category.color.name }};">
                                <p class="text-center" style="font-size: 10px;"><em>{{ favorite.quote }}</em></p>
                                <p class="text-right quote-author-name" style="font-size: 12px;">--<strong><em>{{ favorite.author }}</em></strong></p>
                                <a href="{{ url_for('quote_bp.remove_favorite', quote_id = favorite.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg btn-icon mr-1" data-toggle="tooltip" data-bs-tooltip="" style="margin-top: -20px;color: {{ favorite.category.color.name }};border: 1px solid {{ favorite.category.color.name }} !important;" title="Unpin from board"><i class="fa fa-star-o btn-icon" style="font-size: 12px;"></i></a>
                            </div>
                        </div>                 
                    {% endfor %}
                </div>
                <div class="row quote-block p-3">
                    <div class="col pl-0 pr-0">
                        <div role="tablist" id="accordion-1" class="border-none">
                            <div class="card">
                                {% for category in categories %}
                                <div class="card-header blue-category-header border-none" role="tab" style="background-color: rgba({{ color[category.color.name] }},.1); color: {{ category.color.name }} ; padding-top: 0; padding-bottom: 5px;">
                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-{{ category.id }}" href="#accordion-1 .item-{{ category.id }}" class="category-title mr-5" style="color: {{ category.color.name }};">{{ category.name }}</a>
                                        <span>
                                        
                                        {% if category.name == 'General' %}
                                            <a href="{{ url_for('quote_bp.add_quote')}}" class="btn btn-primary btn-sm border rounded-circle shadow-sm mt-1 mr-2" data-toggle="tooltip" data-bs-tooltip="" type="button" style="background-color: rgba(255,255,255,.3);color: rgb({{ color[category.color.name] }});width: auto;height: auto;border-color:rgba({{ color[category.color.name] }},.4) !important;" title="Add quote"><i class="fa fa-plus" style="height: 11px;"></i></a>
                                        {% else %}
                                            <a href="{{ url_for('quote_bp.add_quote_to_category', category_id = category.id)}}" class="btn btn-primary btn-sm border rounded-circle shadow-sm mt-1 mr-2" data-toggle="tooltip" data-bs-tooltip="" type="button" style="background-color: rgba(255,255,255,.3);color: rgb({{ color[category.color.name] }});width: auto;height: auto;border-color:rgba({{ color[category.color.name] }},.4) !important;" title="Add quote"><i class="fa fa-plus" style="height: 11px;"></i></a>
                                            <a href="{{ url_for('quote_bp.edit_category', category_id = category.id) }}" class="btn btn-primary btn-sm border rounded-circle shadow-sm mt-1 mr-2" data-toggle="tooltip" data-bs-tooltip="" style="background-color: rgba(255,255,255,.3);color: rgb({{ color[category.color.name] }});width: auto;height: auto;border-color:rgba({{ color[category.color.name] }},.4) !important;" title="Edit category"><i class="fa fa-pencil" style="height: 11px;"></i></a>
                                            <a href="{{ url_for('quote_bp.delete_category', category_id = category.id) }}" class="btn btn-primary btn-sm border rounded-circle shadow-sm mt-1" data-toggle="tooltip" data-bs-tooltip="" style="background-color: rgba(255,255,255,.3);color: rgb({{ color[category.color.name] }});width: auto;height: auto;border-color:rgba({{ color[category.color.name] }},.4) !important;" title="Delete category"><i class="far fa-trash-alt shadow-sm" style="height: 11px;"></i></a></span></h5>
                                        {% endif %}
                                    </div>
                                <div class="collapse item-{{ category.id }} border-none" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row">
                                            {% for quote in category.quotes %}
                                                <div class="col p-0 col-12 col-md-5 col-lg-4">
                                                    <div class="quote-block-one" style="color: {{ category.color.name }}; border: 1px solid {{ category.color.name }} !important;box-shadow: 1px 1px 4px {{ category.color.name }};">
                                                        <p class="text-center" style="font-size: 10px;"><em>{{ quote.quote }}</em></p>
                                                        <p class="text-right quote-author-name" style="font-size: 12px;">--<strong><em>{{ quote.author }}</em></strong></p>
                                                        <p class="quote-author-name">
                                                            
                                                            {% if quote.favorite %}
                                                                <a href="{{ url_for('quote_bp.edit_quote', quote_id = quote.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg mr-1" data-toggle="tooltip" data-bs-tooltip="" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color:{{ category.color.name }};border: 1px solid {{ category.color.name }} !important;" title="Edit quote"><i class="fa fa-pencil" style="font-size: 12px;"></i></a>
                                                                <a href="{{ url_for('quote_bp.delete_quote', quote_id = quote.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg" data-toggle="tooltip" data-bs-tooltip="" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color: {{ category.color.name }}; border: 1px solid {{ category.color.name }} !important;" title="Delete quote"><i class="fa fa-trash-o" style="font-size: 12px;"></i></a>
                                                            {% else %}
                                                                <a href="{{ url_for('quote_bp.make_favorite', quote_id = quote.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg btn-icon mr-1" data-toggle="tooltip" data-bs-tooltip="" style="color: {{ category.color.name }};border: 1px solid {{ category.color.name }} !important;" title="Pin to board"><i class="fa fa-star btn-icon" style="font-size: 12px;"></i></a>
                                                                <a href="{{ url_for('quote_bp.edit_quote', quote_id = quote.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg mr-1" data-toggle="tooltip" data-bs-tooltip="" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color:{{ category.color.name }};border: 1px solid {{ category.color.name }} !important;" title="Edit quote"><i class="fa fa-pencil" style="font-size: 12px;"></i></a>
                                                                <a href="{{ url_for('quote_bp.delete_quote', quote_id = quote.id)}}" class="btn btn-primary btn-sm blue-border-btn blue-round-btn blue-white-bg" data-toggle="tooltip" data-bs-tooltip="" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color: {{ category.color.name }}; border: 1px solid {{ category.color.name }} !important;" title="Delete quote"><i class="fa fa-trash-o" style="font-size: 12px;"></i></a>
                                                            {% endif %}
                                                                
                                                            </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-inline-block col-md-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram purple-hover"></i></a><a href="#"><i class="icon ion-social-snapchat purple-hover"></i></a><a href="#"><i class="icon ion-social-twitter purple-hover"></i></a><a href="#"><i class="icon ion-social-facebook purple-hover"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">kwots© 2021</p>
        </footer>
    </div>
</div>
{% endblock %}