<div class="container">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgba(255,255,255,0);">
        <div class="container"><a class="navbar-brand" href="#" style="color: #a500a0;">kWots</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link active" href="#" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;" target="_blank">HOME</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link active" href="signin.html" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;" target="_blank">LOGIN</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link active" href="register.html" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;" target="_blank">DASHBOARD</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link" href="#" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;">REGISTER</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link" href="#" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;">HELP</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link active" href="dashboard.html" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;" target="_blank">ABOUT</a></li>
                    <li class="nav-item menu-link" role="presentation"><a class="nav-link active" href="dashboard.html" style="color: #a500a0;font-size: 12px;font-family: Arya, sans-serif;" target="_blank">SIGN OUT</a></li>
                </ul>
        </div>
        </div>
    </nav>
</div>