{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="signin-bg">
    {% include "nav.html" %}
    <div style="margin-bottom: 10%;">
        <div class="container">
            
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                      <div class="alert alert-primary alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                          </button>
                         {{ message }}
                      </div>
                {% endfor %}
            {% endif %}
                
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 register-column">
                    <h1 class="mb-2" style="color: rgb(165,0,160);font-size: 27px;">Signin to kwots</h1>
                    <form action="{{ url_for('auth_bp.login')}}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group has-success has-feedback">{{ form.username(class="form-control form-field shadow-btn", placeholder="Username/Email") }}</div>
                        <div class="form-group has-success has-feedback">{{ form.password(class="form-control form-field shadow-btn", placeholder="Password") }}</div>
                        <div class="form-group has-success has-feedback ml-5"> {{ form.remember_me(class = "form-check-input") }} <span class="form-check-label"> {{ form.remember_me.label }} </span></div>
                        <div class="form-group">{{ form.login(class="btn btn-primary shadow-btn purple-btn register-btn") }}</div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram purple-hover"></i></a><a href="#"><i class="icon ion-social-snapchat purple-hover"></i></a><a href="#"><i class="icon ion-social-twitter purple-hover"></i></a><a href="#"><i class="icon ion-social-facebook purple-hover"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">kwots© 2021</p>
        </footer>
    </div>
</div>
{% endblock %}

